 
  <div mat-dialog-content>

<div *ngIf="data.type === 'prompt'">
    <p>Print edited task</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.description">
    </mat-form-field>
  
  <div  mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No need</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </div>
</div>

<div *ngIf="data.type === 'confirm'">
    <p>Are you shure?</p>
  <div>
    <div  mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Delete</button>
    </div>
  </div>
</div>
