<div class='wrapper'>
    <mat-card>
        <form [formGroup]="todoForm" (submit)="todoSubmit($event)" >
            <input formControlName='title'>
            <input formControlName="todoInput">
           <button mat-raised-button>Add</button>
        </form>
    </mat-card>
    <div *ngFor="let task of todoList">
        <p>{{task.description}}</p>
        <button mat-raised-button (click)="openDialog(task._id, task.description)">Edit</button>
        <button mat-raised-button (click)="openDeleteDialog(task._id, task.description)">Delete</button>
    </div>

    <button (click)='logout($event)'> Logout </button>
</div>



