<div class='wrapper'>
    <mat-card>
        <form [formGroup]="todoForm" (submit)="todoSubmit($event)" >
            <input formControlName='title'>
            <input formControlName="todoInput">
           <button mat-raised-button>Add</button>
        </form>
    </mat-card>

    <span class='filter'>
     <button mat-raised-button (click)="changeFilter('new')">New</button>
     <button mat-raised-button (click)="changeFilter('done')">Done</button>
     <button mat-raised-button (click)="changeFilter('inProgress')">In Progress</button>
     <button mat-raised-button (click)="changeFilter(null)">All</button>
    </span>
    
    <div class=''   *ngFor="let task of todoList | toDoFilter: toDoFilter">
        <div class='test'  [ngClass]="{'checked':task.selected}">
     <div>
        <mat-checkbox [checked]='task.selected' (change)='checkedToDoItem($event, task)'></mat-checkbox>
        <button mat-raised-button>Load Image</button>
            <mat-form-field>
                <mat-select (selectionChange)='onOptionChange($event, task)'[(value)]="task.status">
                  <mat-option value="new">New</mat-option>
                  <mat-option value="done">Done</mat-option>
                  <mat-option value="inProgress">In progress</mat-option>
                </mat-select>
            </mat-form-field>
     </div>
     <div class='clear'></div>
     <div>
        <p>title: {{task.title}}</p>
        <p>description: {{task.description}}</p>
        <button mat-raised-button (click)="openDialog(task)" class='editBtn'>Edit</button>
        <button mat-raised-button (click)="openDeleteDialog(task._id, task.description)">Delete</button>
     </div>
    </div>
    </div>
    
    <button mat-button (click)='logout($event)' class='logoutBtn'> Logout </button>
</div>



