/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    display: flex;
    justify-content: center;
    background-color: aqua;
}
header ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding-inline-start: 0px;
}
